<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Машина за гласуване</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body class="container">
    <h1><%= @title %></h1>
    <p>Къде да обядваме?</p>
    <form action="/cast">
      <ul class="unstyled">
        <li>
          <label class="radio">
            <input type="radio" name="vote" value="Happy">
            Happy
          </label>
        </li>
        <li>
          <label class="radio">
            <input type="radio" name="vote" value="Кривото">
            Кривото
          </label>
        </li>
        <li>
          <label class="radio">
            <input type="radio" name="vote" value="Мистър Пица">
            Мистър Пица
          </label>
        </li>
        <li>
          <label class="radio">
            <input type="radio" name="vote" value="Слънце Луна">
            Слънце Луна
          </label>
        </li>
      </ul>
      <button type="submit" class="btn btn-primary">Гласувай!</button>
    </form>
  </body>
</html>
